{% extends "base.html" %}

{% block title %}カテゴリ{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">カテゴリ</h3>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>カテゴリ</th>
        </tr>
      </thead>
      <tbody>
        {% for p_category in p_categories %}
        <tr>
          <td>{{ p_category.name }}</td>
          <td>
              {#            <a href="{% url 'cmp:category_list' p_category_id=p_category.id %}">{{ p_category.name }}</a>#}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}

