{% extends "base.html" %}

{% block title %}カテゴリ{% endblock title %}

{% block extrahead %}
<style>
    table {
        margin-top: 400px;
    }
</style>
{% endblock %}

{% block content %}
<h3 class="page-header">{{ category.name }}</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>カテゴリ</th>
            <th>name</th>
            <th>text</th>
            <th>attr</th>
        </tr>
    </thead>
    <tbody>
        {% for commodity in commodities %}
        <tr>
            <td>{{ commodity.category }}</td>
            <td>{{ commodity.name }}</td>
            <td>{{ commodity.text }}</td>
            <td>
            {% for attribute in commodity.attributes %}
                {{ attribute}}
                :
                {{attribute.score}}
                <br>
            {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}

