{% extends "base.html" %}

{% block title %}比較{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<h3 class="page-header">Compar!!<small>{{ category.name }}</small></h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p>{{ commodity_A.name }}</p>
            <a href="{% url 'cmp:commodity_cmp_post' commodity_A_id=commodity_A.id commodity_B_id=commodity_B.id attributelist_id=components.attr_list.0.id vote="commodity_A" cmp_lists=cmp_lists pre_cmp_lists_idx=cmp_lists_idx%}" class="btn btn-primary btn-lg">This!!</a>
        </div><!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <a href="{% url 'cmp:commodity_cmp_post' commodity_A_id=commodity_A.id commodity_B_id=commodity_B.id attributelist_id=components.attr_list.0.id vote="Draw" cmp_lists=cmp_lists pre_cmp_lists_idx=cmp_lists_idx%}" class="btn btn-primary btn-lg">Draw!!</a>
            <a href="{% url 'cmp:commodity_cmp_post' commodity_A_id=commodity_A.id commodity_B_id=commodity_B.id attributelist_id=components.attr_list.0.id vote="Skip" cmp_lists=cmp_lists pre_cmp_lists_idx=cmp_lists_idx%}" class="btn btn-primary btn-lg">Skip!!</a>
        </div><!-- col -->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <p>{{ commodity_B.name }}</p>
            <a href="{% url 'cmp:commodity_cmp_post' commodity_A_id=commodity_A.id commodity_B_id=commodity_B.id attributelist_id=components.attr_list.0.id vote="commodity_B" cmp_lists=cmp_lists pre_cmp_lists_idx=cmp_lists_idx%}" class="btn btn-primary btn-lg">This!!</a>
        </div><!-- col -->
    </div><!-- row -->
{% endblock content %}
