{% extends "base.html" %}

{% block title %}カテゴリ{% endblock title %}

{% block extrahead %}
<style>
    table
    {
        margin-top: 400px;
    }
    {% for commodity in commodities %}
    #graph{{ commodity.id }}
    {
        width : 500px;
        height: 300px;
        margin: 1em auto;
    }
    {% endfor %}
</style>
{% endblock %}

{% block content %}

<h3 class="page-header">{{ category.name }}</h3>

<div class="container">
    {% for commodity in commodities %}
        <div style="text-align:center;">
            <div class="row">
                <div class="col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    {% if commodity.disp_mode1 == "left" %}
                        {% comment %}
                        <img class="img-responsive" src="{{ MEDIA_ROOT }}{{ commodity.image.url }}">
                        {% endcomment %}
                        <h2>{{ commodity.name }}</h2>
                        <a href="{% url 'cmp:commodity_cmp_make' category_id=category.id commodity_id=commodity.id %}" class="btn btn-warning" url="">Compar!!</a>
                        <div id="graph{{ commodity.id }}"></div>
                        <script type="text/javascript">
                            var param = [];
                            {% for attribute in commodity.attributes %}
                                var tmp = [];
                                tmp.push("{{ attribute}}");
                                tmp.push({{attribute.score}});
                                param.push(tmp)
                            {% endfor %}
                            basic_radar(document.getElementById("graph{{ commodity.id }}"), param);
                        </script>
                    {% endif %}
                </div><!-- col -->
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
                    {% if commodity.disp_mode1 == "right" %}
                        {% comment %}
                        <img class="img-responsive" src="{{ MEDIA_ROOT }}{{ p_category.image.url }}">
                        {% endcomment %}
                        <h2>{{ commodity.name }}</h2>
                        <a href="{% url 'cmp:commodity_cmp_make' category_id=category.id commodity_id=commodity.id %}" class="btn btn-warning" url="">Compar!!</a>
                        <div id="graph{{ commodity.id }}"></div>
                        <script type="text/javascript">
                            var param = [];
                            {% for attribute in commodity.attributes %}
                                var tmp = [];
                                tmp.push("{{ attribute}}");
                                tmp.push({{attribute.score}});
                                param.push(tmp)
                            {% endfor %}
                            basic_radar(document.getElementById("graph{{ commodity.id }}"), param);
                        </script>
                    {% endif %}
                </div><!-- col -->
                <div class="col-md-2 col-lg-2"></div>
            </div><!-- row -->
        </div>
    {% endfor %}
</div>
    <a href="{% url 'cmp:commodity_add' category_id=category.id %}" class="btn btn-default btn-sm">商品編集</a>
{% endblock content %}

